<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="baseurl" value="http://admin.watsweb.org/"/>
    <add key="uploadPath" value="G:\PleskVhosts\watsweb.org\httpdocs\Content\"/>
	<add key="adminuploadPath" value="G:\PleskVhosts\watsweb.org\httpdocs\Content\"/>
    <add key="usersiteurl" value="https://www.watsweb.org/"/>
    <add key="adminsiteurl" value="https://www.watsweb.org/"/>
    <add key="adminemailid" value="president@watsweb.org"/>
    <add key="adminimgurl" value="http://admin.watsweb.org/"/>
    <add key="mailname" value="info@watsweb.org"/>
    <add key="FBUrl" value="https://www.facebook.com/" />
    <add key="TWUrl" value="https://twitter.com/" />
    <add key="YUrl" value="http://www.youtube.com/" />
    <add key="TPhoneNo" value="425-985-2035" />
    <add key="TEmailId" value="board@watsweb.org" />
    <add key="GridMailKey" value="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"/>
    <add key="mailname" value="Washington Telugu Samithi (WATS)"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
	<trust level="Full" />
	<customErrors mode="Off" defaultRedirect="~/Error/Index">
      <error statusCode="403" redirect="~/Error/Index"/>
      <error statusCode="503" redirect="~/Error/Index"/>
      <error statusCode="404" redirect="~/Error/Index"/>
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpRuntime targetFramework="4.5" />
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="mailuser19">
        <network host="smtp.sendgrid.net" password="sendMail@19" userName="mailuser19" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add connectionString="Data Source=184.168.194.75;Password=aJtn04^2;Persist Security Info=True;User ID=watswebdb;Initial Catalog=watswebdb" name="TestConnectionString"/>
   </connectionStrings>
</configuration>