@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1 class="font22 montserratregular l-r-p20 tablet-l-r-p10 dk-t white-bg border-b t-b-m0 t-b-p5 tablet-t-b-p0">Acknowledgement</h1>
            <div class="clearfix poppinsregular font13 p40 tabhorizontal-p20 tablet-p10">
              
              
              <div style="max-width:700px;" class="clearfix l-r-m-auto">
                      <h1 align="center" class="dkorange-t t-m20 font40 impactregular b-p25 border-b3 dkyellowborder b-m0 l-r-m1 tablet-t-m10 mobile-font30 mobilev-b-p10 mobile-b-p15">Thanks for your Membership Renewal !!!</h1>
                      <div class="clearfix shadow2 border dkyellowborder p5 b-m10 white-bg">
                      <h4 align="center" class="l-h22 l-r-m5 font14">Thank you for your Membership Renewal of Chicago Andhra Association. A confirmation email has been sent to your email address.</h4>
                            </div>
                             <div class="clearfix p15 t-r tablet-t-c tablet-t-p5 mobilrv-p5">
                             <a href="@Url.Action("Index", "Home")" class="btn btn-orange border-radius0 poppins-medium font16 p10">Back to Home</a>
                          </div>
                    </div>
            </div>
