@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

                  <article class="clearfix border t-m1 ralewayregular font14 l-h24 p30 mobilev-p15 black-t" style="min-height:1150px;">
                    <article class="clearfix curve position-r t-m35n t-b-p25">
                      <h2 class="Impact font24 black-t l-h16 t-c mobile-font16 t-m0">Acknowledgement<span class="kaushan_scriptregular font24 red-t l-h14 mobile-font16"></span></h2>
                    </article>
                    <article class="clearfix l-r-m-auto t-b-p60" style="max-width:900px">
                      <article class="clearfix p20 t-b-p0 mobile-p0 tablet-p15 t-p15">
                        <h1 align="center" class="clearfix kaushan_scriptregular font36 tabhorizontal-font36 mobile-font26 mobile-l-h30 l-h50 dkgray-t2">Thanks for Registering as Sponsor!!!</h1>
                        <h3 align="center" class="font18 l-h24 Poppins-Regular b-m0 tablet-font16 mobilev-font14 mobile-l-h22 mobile-t-m5">Your details has been submitted to administrator for approval.</h3>                      
                      </article>
                    </article>
                  </article>
