@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

                  <article class="clearfix border t-m1 ralewayregular font14 l-h24 p30 mobilev-p15 black-t" style="min-height:1150px;">
                    <article class="clearfix curve position-r t-m35n t-b-p25">
                      <h2 class="Impact font24 black-t l-h16 t-c mobile-font16 t-m0">Thank<span class="kaushan_scriptregular font24 red-t l-h14 mobile-font16">You</span></h2>
                    </article>
                    <article class="clearfix l-r-m-auto tbp5 tabhorizontal-t-b-p30 tablet-l-r-p30 mobile-p20 mobilev-p10 t-c" style="max-width:512px;"> <img src="Content/images/thankyou-img.png" width="113" height="113" border="0" alt="Thank You" title="Thank You"/>
                      <h1 class="clearfix kaushan_scriptregular font48 tabhorizontal-font36 mobile-font26 mobile-l-h30 l-h50 dkgray-t2">Thank You !!!</h1>
                      <article class="ligray-t t-c b-p20 mobilev-b-p10 l-h20">Thank you for your Registration...!!!  Our Team will get back to you with updates.</article>
                      <a href="@Url.Action("Index", "Home")" class="btn btn-danger border-radius0 t-t-u t-b-p15 l-r-p50 poppinssemibold border0 font18 mobile-font14 l-h18 mobile-t-b-p10 mobile-l-r-p20">Back to Home</a> </article>
                  </article>
                
       
